<header>
    <div class="hero">
        <section class="layout">
            <div class="branding">
                <a href="/">
                    <img src="/images/misc/rouxacademymeetups.svg" alt="RouxAcademyLogo">
                </a>
            </div><!-- end of branding -->
        </section><!-- end of layout -->
    </div><!--  end of hero -->

    <div class="navigation">
        <section class="layout">
            <ul class="nav">
                <li><a href="/"><i class="icon-home"></i> Home</a></li>
                <li><a href="/speakers"><i class="icon-user"></i> Speakers</a></li>
            </ul>
        </section><!-- end of layout -->
    </div><!-- end of navigation -->
</header>
