<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body class="<%= page %>"
  ng-app="myApp">
  <!--set the app in the body so the app can controll the entire thing-->
    <% include partials/template/header.ejs %>
    <section class="layout">
        <div class="primary"
        ng-view >
      <!--set the view for the controller-->

        </div><!-- Primary -->
        <aside class="secondary">
            <% include partials/content/nextmeeting.ejs %>
            <% include partials/content/artworklist.ejs %>
        </aside><!-- Secondary -->
    </section>
    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
